@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-kumbh-sans);

  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;

  /* Granite */
  --color-granite: #1b212d;
  --color-granite-muted: #78778b;
  --color-granite-soft: #d1d5db;

  /* STEEL */
  --color-steel: #929eae;

  /* Accent */
  --color-accent: #c8ee44;
  --color-accent-dark: #9bcb18;

  --color-surface: #fafafa;
  --color-surface-hover: #f3f5f7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);

  font-family:
    var(--font-sans),
    ui-sans-serif,
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    "Apple Color Emoji",
    "Segoe UI Emoji";
}
